<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{>header}}
            <br />
        </div>

    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="producttab">
                <div class="tabsslider">
                    <div class="nav-tabs-wrap">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a href="#introduction" role="tab" data-toggle="tab">
                                    Hồ sơ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#listOrder" role="tab" data-toggle="tab">Danh sách order</a>
                            </li>
                            <li class="nav-item">
                                <a href="#listLike" role="tab" data-toggle="tab">Danh sách yêu thích</a>
                            </li>


                        </ul>
                    </div>

                    <div class="tab-content" style="height: 500px;">

                        <div class="tab-pane fade in active show" id="introduction">
                            <h5><b>Hồ sơ</b></h5>
                            <hr>
                            {{#myUser}}
                            <form class="mt-4" role="form" action="/profile" method="post">
                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Họ tên</label>
                                    <div class="col-lg-10">
                                        <input name="fullname" class="form-control" type="text" value="{{FullName}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input name="email" class="form-control" type="email" value="{{email}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Số điện thoại</label>
                                    <div class="col-lg-10">
                                        <input name="phoneNumber" class="form-control" type="text" value="{{phone}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Giới tính</label>
                                    <div class="col-lg-10">
                                        <select name="gender" class="form-control" value="{{gender}}">
                                            <option value='1'>Nam</option>
                                            <option value='2'>Nữ</option>
                                            <option value='3'>Khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Date of birth</label>
                                    <div class="col-lg-10">
                                        <input name="dob" class="form-control" type="date" value="{{dob}}"
                                            placeholder="Street">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Địa chỉ</label>
                                    <div class="col-lg-10">
                                        <input name="address" class="form-control" type="text" value="{{address}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Tên đăng nhập</label>
                                    <div class="col-lg-10">
                                        <input name="username" class="form-control" type="text" value="{{UserName}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Mật khẩu cũ</label>
                                    <div class="col-lg-10">
                                        <input name="passwordold" class="form-control" type="password" value="">
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 col-form-label form-control-label">Mật khẩu</label>
                                    <div class="col-lg-10">
                                        <input name="password" class="form-control" type="password" value="">
                                    </div>
                                    <p class="col-lg-10 text-success"><small>Để mật khẩu trống nếu không muốn thay
                                            đổi</small></p>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-3">

                                    </div>
                                    <div class="col-lg-10 text-right">
                                        <a class="btn btn-secondary" href='/profile'>Hủy</a>
                                        <input type="submit" class="btn btn-primary" value="Lưu thay đổi">
                                    </div>
                                </div>
                            </form>
                            {{/myUser}}

                        </div>

                        <div class="tab-pane fade" id="listOrder">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tên khóa học</th>
                                                <th>Hình ảnh</th>
                                                <th>Giá</th>
                                                <th>Ngày bắt đầu</th>
                                                <th>Hoạt động</th>
                                            </tr>
                                        </thead>
                                        {{#each courses}}
                                        <tbody>
                                            <tr>
                                                <td>{{name}}</td>
                                                <td><img style="height: 80px;" src="../../public/img/{{image}}"></td>
                                                <td>{{format price}} VNĐ</td>
                                                <td>{{orderDate}}</td>
                                                <td>
                                                    <a class="btn btn-danger" href="/profile-delete/{{idOrder}}"><i
                                                            class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        {{/each}}
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="listLike">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tên khóa học</th>
                                                <th>Hình ảnh</th>
                                                <th>Giá</th>
                                               
                                                <th>Hoạt động</th>
                                            </tr>
                                        </thead>
                                        {{#each courseLike}}
                                        <tbody>
                                            <tr>
                                                <td>{{name}}</td>
                                                <td><img style="height: 80px;" src="../../public/img/{{image}}"></td>
                                                <td>{{format price}} VNĐ</td>
                                    
                                                <td>
                                                    <a class="btn btn-danger" href="/user/course-like/delete/{{id}}"><i
                                                            class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        {{/each}}
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-2">

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{>footer}}
            <br />
        </div>

    </div>

</div>