{{> header}}
<!--Content-->
<section class="content">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/home" title="Trang chủ"><i class="fa fa-home"></i></a>
      </li>
      <li class="breadcrumb-item">
        <a href="/courses" title="Khoá học">&nbsp; Khoá học</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-3 col-md-pull-9">
        {{!-- <section style="margin-left: 20px; font-size: 18px;" class="mb-4">
          <!-- <div class="card-header bg-primary text-white text-uppercase"></div> -->
          <h5 class="font-weight-bold mb-3"><i class="fa fa-money"></i> Giá </h5>

          <div class="form-check pl-0 mb-3">
            <input type="radio" class="form-check-input" id="under25" name="materialExampleRadios">
            <label class="form-check-label small text-uppercase card-link-secondary" for="under25">Dưới 1.000.000
              đ</label>
          </div>
          <div class="form-check pl-0 mb-3">
            <input type="radio" class="form-check-input" id="2550" name="materialExampleRadios">
            <label class="form-check-label small text-uppercase card-link-secondary" for="2550">1.000.000 đ - 1.500.000
              đ</label>
          </div>
          <div class="form-check pl-0 mb-3">
            <input type="radio" class="form-check-input" id="50100" name="materialExampleRadios">
            <label class="form-check-label small text-uppercase card-link-secondary" for="50100">1.500.000 đ - 2.500.000
              đ</label>
          </div>
          <div class="form-check pl-0 mb-3">
            <input type="radio" class="form-check-input" id="100200" name="materialExampleRadios">
            <label class="form-check-label small text-uppercase card-link-secondary" for="100200">Trên 2.500.000
              đ</label>
          </div>
        </section> --}}
        <aside class="sidebar-categories">


          <div class="module">
            <h3 class="modtitle">
              <span>Danh mục</span>
            </h3>
            <ul class="list-group">
              {{#each category}}
              <li class="list-group-item"><a href="?category={{id}}" title="Lập trình web">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
        </aside>


      </div>
      <div class="col-md-9 col-md-push-3">
        <div class="product-filter filters-panel">
          <div class="short-by-show form-inline text-left">
            <div class="form-group short-by">
              <form action="" method="">
                {{!-- <label class="control-label" for="input-sort">Sắp xếp theo: </label> --}}
                <select id="input-sort" class="form-control" name="level">
                  <option value="0" selected="selected">Sắp xếp</option>
                  <option value="1">Giá cao đến thấp</option>
                  <option value="2">Giá thấp đến cao</option>
                  <option value="3">Đánh giá giảm dần</option>
                  <option value="4">Đánh giá tăng dần</option>
                </select>

                <select id="input-sort" class="form-control" name="price">
                  <option value="0" selected="selected">Giá tiền</option>
                  <option value="1">Dưới 1.000.000</option>
                  <option value="2">1.000.000-2.000.000</option>
                  <option value="3">Trên 2.000.000</option>

                </select>
              </form>
            </div>
          </div>
        </div>

        <!-- -content product -->
        <div class="content">
          <div class="row">
            {{#each courseStar}}
            <div class="col-sm-6 col-md-4">
              <div class="card h-100">
                <div class="mc-item mc-item-2">
                  <div class="image-heading">
                    <a href="/user/courses/{{courses.id}}" title="{{courses.name}}"><img style="max-height: 180px;" title="{{courses.name}}"
                        src="../../public/img/{{courses.image}}" alt="Xay dung khoa hoc"></a>
                  </div>

                  <div class="card-body">
                    <div class="meta-categories">
                      <a href="#" title="Hoc lap trinh web">{{courses.name}}</a>
                    </div>
                    <div class="content-item">
                      <div class="image-author">
                        <a href="#" title="Giảng viên: Phạm Đình Long">...</a>
                      </div>
                      <h5><a href="/user/courses/{{courses.id}}" title="Xây dung trang web asp.net">Xây dựng trang {{courses.name}}</a>
                      </h5>
                      <div class="name-author">
                        <span>Bởi
                          <a href="#" title="Giảng viên: Phạm Đình Long">Phạm Đình Long</a>
                        </span>
                      </div>
                    </div>
                    <div class="ft-item">
                      <div class="rating">
                        {{#each star}}
                        <span class="fa fa-star checked"></span>
                        {{/each}}


                      </div>

                      <div class="view-info">
                        <i class="fa fa-users" aria-hidden="true"></i>{{courses.view}}
                      </div>
                      <div class="price">
                        <i class="fa fa-dollar"></i>
                        <span>{{courses.price}}</span>
                      </div>

                    </div>
                  </div>


                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{!-- Pading product --}}

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {{#if navs.prev}}
            <li class="page-item">
              <a class="page-link" href="?page={{ navs.prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{else}}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{/if}}
            {{#each pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="javascript:;">
                {{ value }} <span class="sr-only">(current)</span>
              </a>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="/user/courses?category={{cat}}&page={{value}}">
                {{value}}
              </a>
            </li>
            {{/if}}
            {{/each}}
            {{#if navs.next}}
            <li class="page-item">
              <a class="page-link" href="?page={{ navs.next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {{else}}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {{/if}}
          </ul>
        </nav>

      </div>
    </div>
  </div>
</section>

{{> footer}}