{{> header}}
<!--Content-->
<section class="content">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/home" title="Trang chủ"><i class="fa fa-home"></i></a>
      </li>
      <li class="breadcrumb-item">
        <a href="/courses" title="Khoá học">&nbsp; Khoá học</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-3 col-md-pull-9">
        <aside class="sidebar-categories">
          <div class="module">
            <h3 class="modtitle">
              <span>Danh mục</span>
            </h3>
            <ul class="list-group">
              <li class="list-group-item"><a href="#" title="Khoá học đề xuất">Khoá học đề xuất</a></li>
              <li class="list-group-item"><a href="#" title="Khoá học yêu thích">Khoá học yêu thích</a></li>
              <li class="list-group-item"><a href="#" title="Khoá học hot">Khoá học hot</a></li>
              <li class="list-group-item"><a href="#" title="Khoá học free">Khoá học miễn phí</a></li>
            </ul>
          </div>

          <div class="module">
            <h3 class="modtitle">
              <span>Nhóm liên quan</span>
            </h3>
            <ul class="list-group">
              {{#each category}}
              <li class="list-group-item"><a href="#" title="Lập trình web">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-md-9 col-md-push-3">
        <div class="product-filter filters-panel">
          <div class="short-by-show form-inline text-left">
            <div class="form-group short-by">
              <form action="" method="">
                <label class="control-label" for="input-sort">Sắp xếp theo: </label>
                <select id="input-sort" class="form-control" name="level">
                  <option value="0" selected="selected">Tất cả trình độ</option>
                  <option value="1">Cơ bản</option>
                  <option value="2">Bình thường</option>
                  <option value="3">Nâng cao</option>
                </select>
              </form>
            </div>
          </div>
        </div>

        <!-- -content product -->
        <div class="content">
          <div class="row">
            {{#each courses}}
            <div class="col-sm-6 col-md-4">
              <div class="mc-item mc-item-2">
                <div class="image-heading">
                  <a href="#" title="{{name}}"><img style="max-height: 180px;" title="{{name}}"
                      src="../../img/{{this.image}}" alt="Xay dung khoa hoc"></a>
                </div>
                <div class="meta-categories">
                  <a href="#" title="Hoc lap trinh web">{{name}}</a>
                </div>
                <div class="content-item">
                  <div class="image-author">
                    <a href="#" title="Giảng viên: Phạm Đình Long">...</a>
                  </div>
                  <h4><a href="#" title="Xây duywngj trang web asp.net">Xây dựng trang {{name}}</a></h4>
                  <div class="name-author">
                    <span>Bởi
                      <a href="#" title="Giảng viên: Phạm Đình Long">Phạm Đình Long</a>
                    </span>
                  </div>
                </div>
                <div class="ft-item">
                  <div class="rating">

                    <span class="fa fa-star checked"></span>
                  </div>
                  <div class="view-info">
                    <i class="fa fa-users" aria-hidden="true"></i>16
                  </div>
                  <div class="price">
                    <span>{{price}}</span>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{!-- Pading product --}}

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {{#if navs.prev}}
            <li class="page-item">
              <a class="page-link" href="?page={{ navs.prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{else}}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{/if}}
            {{#each pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="javascript:;">
                {{ value }} <span class="sr-only">(current)</span>
              </a>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">
                {{value}}
              </a>
            </li>
            {{/if}}
            {{/each}}
            {{#if navs.next}}
            <li class="page-item">
              <a class="page-link" href="?page={{ navs.next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {{else}}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {{/if}}
          </ul>
        </nav>

      </div>
    </div>
  </div>
</section>

{{> footer}}