{{#section 'js'}}
<script>
  $('.addItem').on('click', function () {
    const id = $(this).data('id');
    $('#txtProId').val(id);
    $('#frmAddItem').submit();
  });
</script>
{{/section}}
{{> header}}
<!-- -Content-->
<section class="content">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/home" title="Trang chủ"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="/courses" title="Khoá học">&nbsp; Khoá học</a>
            </li>
            {{#Detail}}
            <li class="breadcrumb-item">
                <a href="#" title="Chi tiết khoá học">&nbsp; {{NameCourse}}</a>
            </li>
            {{/Detail}}
        </ul>
        <form action="/user/cart/add" method="POST" id="frmAddItem">
            <input type="hidden" name="id" id="txtProId">
            {{!-- <input type="hidden" name="quantity" id="txtQ"> --}}
        </form>
        <div class="row">
            <div class="col-md-5">
                <div class="sidebar-course-intro">
                    <div class="video-course-intro">
                        {{#Detail}}
                        <div class="inner">
                            <div class="embed-responsive embed-responsive-16by9">

                                <iframe class="embed-responsive-item" width="560" height="315" src="{{PathVideo}}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="price">
                            <span class="from">Học phí: </span>
                            <span class="amount">{{price}}</span>
                        </div>
                        {{!-- <button type="button" class="btn btn-success" id="register"> <i
                                class="fa fa-user-plus"></i>Đăng kí</button> --}}
                        <a data-id="{{IdCourse}}" class="btn btn-success addItem" href="javascript:;" role="button" id="register"><i
                                class="fa fa-user-plus"></i>Đăng kí</a>
                        {{/Detail}}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="producttab">
                    <div class="tabsslider">
                        <div class="nav-tabs-wrap">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a href="#introduction" role="tab" data-toggle="tab">
                                        Nội dung
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#teacher" role="tab" data-toggle="tab">Giảng viên</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#outline" role="tab" data-toggle="tab">Video</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#review" role="tab" data-toggle="tab">Đánh giá</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            {{#Detail}}
                            <div class="tab-pane fade in active show" id="introduction">
                                <h4 class="sm black bold">Giới thiệu</h4>
                                <p>{{NameVideo}}</p>
                                <p>&nbsp;</p>
                            </div>

                            <div class="tab-pane fade" id="teacher">
                                <h5 class="sm black bold">Giảng viên: {{Fullname}}</h5>
                                <p>Nghề nghiêp: {{LevelTeacher}}</p>
                                <p>Sinh năm: 1999</p>
                                <p>Kinh nghiệm: 6 Tháng làm dev</p>
                                <p>Giới thiệu: {{DescribeTeacher}}</p>
                                <p>&nbsp;</p>
                            </div>
                            {{/Detail}}

                            <div class="tab-pane fade" id="outline">
                                <h5 class="tit-section sxm">Nội dung khoá học</h5>

                                <ul class="section-list">
                                    {{#each List}}
                                    <li>

                                        <div class="list-body">
                                            <p>
                                                <a href="?video={{this.STT}}" title="{{this.NameVideo}}">
                                                    {{this.NameVideo}}</a>
                                            </p>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                                <p>&nbsp;</p>
                            </div>

                            <div class="tab-pane fade" id="review">
                                <h4 class="sm black bold">Đánh giá</h4>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{> footer}}