{{> header}}
<div class="card">
  <h5 class="card-header">
    Khoá học của tôi
  </h5>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Khoá học</th>
          <th scope="col">Giá</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.items}}
        <tr>
          <td>
            <a href="/products/detail/{{id}}" style="color: black;">
            {{this.0.name}}
            <img src="../../public/img/{{this.0.image}}" style="height: 80px;">
            </a>
          </td>
          <td>{{ this.0.price}}</td>
          <td class="text-right">
            <a data-id="{{id}}" class="btn btn-sm btn-outline-danger removeItem" href="javascript:;" role="button"
              title="Remove Item">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
</div>