{{> header}}
<!-- -----------Content------------ -->
<section class="content">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="./TrangChu.html" title="Trang chủ"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="./GiangVien.html" title="Khoá học">&nbsp; Giảng viên</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar-categories">
                    <div class="module">
                        <h3 class="modtitle">
                            <span>Danh mục bài viết</span>
                        </h3>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#" title="Khoá học đề xuất">Giới thiệu</a>
                            </li>
                            <li class="list-group-item"><a href="#" title="Khoá học yêu thích">ASP dotnet</a></li>
                            <li class="list-group-item"><a href="#" title="Khoá học hot">JQuery</a></li>
                            <li class="list-group-item"><a href="#" title="Khoá học free">Mysql</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="blog-list-content">
                    {{#each teacher}}
                    <div class="post">
                        <div class="post-media">
                            <div class="image-thumb">
                                <img src="../../public/img/{{image}}" style="max-width: 100%;" title="{{FullName}}"
                                    alt="{{FullName}}">
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-title">
                                <h3 class="md">
                                    <a href="/user/teacher/{{Id}}" title="{{FullName}}">{{FullName}}</a>
                                </h3>
                            </div>
                            <div class="post-content">
                                <p>{{level}}</p>
                            </div>
                            <div class="post-link">
                                <a href="/user/teacher/{{Id}}" title="Phạm Đình Long"><i
                                        class="fa fa-play-circle-o"></i> Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{!-- Pading product --}}

                <div class="row d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {{#if navs.prev}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ navs.prev}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{else}}
                            <li class="page-item disabled">
                                <a class="page-link" href="/user/teacher?page={{value}}" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{/if}}
                            {{#each pages}}
                            {{#if active}}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">
                                    {{ value }} <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            {{else}}
                            <li class="page-item">
                                <a class="page-link" href="/user/teacher?page={{value}}">
                                    {{value}}
                                </a>
                            </li>
                            {{/if}}
                            {{/each}}
                            {{#if navs.next}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ navs.next}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {{else}}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</section>
{{> footer}}